*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card h3{
    padding: 20px;
}

.card p{
    padding: 20px;
}

h2{
    font-size: 40px;
    font-weight: 250;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h4 > a{
    text-decoration: none;
    background-color: #23242a;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

h4 > a:hover{
    background-color: #fff;
    color: #23242a;
}

.main{
    background-color: #23242a;
    color: #fff;
    padding: 30px;
    margin-top: 20px;
}

ul li > a{
    text-decoration: none;
}